html
{
  background-color:#25020F;
}
header
{
  margin-bottom:0px;
  border-top-right-radius:2em;
}
header h1
{
  color:#310880;
  padding-left:0.5em;
  padding-top:0.5em;
}
header p
{
  padding-right:2em;
  text-align:right;
  font-weight:bold;
  color:#ECECEC;
}
nav
{
  background-color:#9E1E4C;
  border-top-right-radius:2em;
  border-bottom-left-radius:2em;
  padding-top:2em;
}
/* Website container */
div.container
{
  width:55%;
  margin-left:10%;
  margin-right:auto;
  background-color:#9E1E4C;
  border-top-right-radius:2em;
  border-bottom-right-radius:2em;
  border-bottom-left-radius:2em;
}
/* Content area */
div.content
{
  margin-left:2em;
}
section
{
  background-color:#ECECEC;
}
/* Section title */
section span
{
  position:relative;
  top:-0.5em;
  left:-0.5em;
  margin-top:0px;
  margin-bottom:0px;
  border-radius:2em;
  padding-right:1em;
  padding-left:1em;
  font-size:20pt;
  background-color:#310880;
  color: #ECECEC;
}
section span.toggle:hover
{
	background-color:pink;
}
/* Section content */
section div
{
  margin-top:0px;
  margin-bottom:0px;
  padding-bottom:0.5em;
  padding-left:1em;
  padding-right:0.5em;
}
p
{
  color:#8F8F8F;
}
section ul
{
	color:#8F8F8F;
}
footer
{
  padding-top:1em;
  margin-left:2em;
  background-color:#ECECEC;
  text-align:center;
  border-bottom-right-radius:2em;
}

a.source
{
  font-size:small;
  vertical-align:top;
}

table
{
  width:80%;
  border-collapse:collapse;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:2em;
}
table tr:nth-child(2n)
{
  background-color:#A0A0A0;
}
table tr:nth-child(2n+1)
{
  background-color:#ff87b3
}
table tr td
{
  border:1px solid;
}

/*Floating Menu*/
#floatMenu {
	position:absolute;
	top:150px;
	left:70%;
	width:200px;
}
#floatMenu ul {
	list-style-type:none;
	margin-bottom:20px
}
#floatMenu ul li a {
	display:block;
}